@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --main-bg-color: black;
    --second-bg-color: #24252A;
    --main-text-color: #edf0f1;
    --second-text-color: #E1A624;
    --main-button-color: #E1A624;
    --main-button-hover-color: #E1A624;
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
} */

header li,header a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--main-text-color);
    text-decoration: none;
    background-color: var(--second-bg-color);
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 80px;
    width: 100%;
    background-color: var(--second-bg-color);
    position: fixed;
    z-index: 1000;
}

/* header nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.nav__links{
    list-style: none;
    transform: translateY(30%);
}

.nav__links li{
    display: inline-block;
    padding: 0px 10px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: var(--second-text-color);
}

header button{
    padding: 9px 25px;
    background-color: var(--main-button-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{
    background-color: var(--main-button-hover-color);
}

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}


#particles-js{
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--second-text-color);
    position: relative;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    background-color: var(--main-bg-color);
}

#intro{
    background-color: var(--main-bg-color);
}

.container {
    background-color: var(--main-bg-color);
}

.container .row{
    padding-top: 10px;
}

.container .row .col{
    margin: 0 20px;
    padding: 70px 0;
}

.container .row .col img{
    width: 600px;
    height: 320px;
    border-radius: 20px;
}

.titre{
    margin: 20px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.titre h1{
    color: var(--second-text-color);
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 100px;
}

#intro h2, #slider h2{
    color: var(--second-text-color);
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    margin-left: 10%;
}

#intro h2{
    padding-top: 80px;
}

.titre i{
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.container .row .col p{
    color: white;
    font-size: 25px;
    text-align: left;
    
}

/*SLIDER*/

#slider{
    width: 100%;
    height: 1200px;
    background: var(--main-bg-color);
}

#slider .container-Slider{
    position: absolute;
    top: 265%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    /* box-shadow: 0 30px 50px #dbdbdb; */
}

#slider .container-Slider .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    /* box-shadow: 0 30px 50px #505050; */
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

#slider .slide .item:nth-child(1),
#slider .slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: var(--main-bg-color);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


#slider .slide .item:nth-child(3){
    left: 50%;
}
#slider .slide .item:nth-child(4){
    left: calc(50% + 220px);
}
#slider .slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
#slider .slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



#slider .item .content{
    position: absolute;
    top: 40%;
    left: 80px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


#slider .slide .item:nth-child(2) .content{
    display: block;
}


#slider .content .name{
    font-size: 40px;
    text-align: start;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

#slider .content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
    text-align: start;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}*

#slider .content .media{
    width: 500px;
    height: 350px;
}

#slider .content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

#slider .button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    top: 72%;
}

#slider .button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

#slider .button button:hover{
    background: #ababab;
    color: #fff;
}

#slider .grid{
    display: flex;
}

#slider .grid .g-col-6:nth-child(2){
    margin-left: 140px;
}